/* line 1, ../sass/elements/_footer.scss */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 100px 0 35px;
  background: #1C1C1C;
  z-index: 2;
}
/* line 10, ../sass/elements/_footer.scss */
.footer .slogan {
  font: normal 600 43px/45px "Futura",sans-serif;
  color: #B0976D;
  text-align: center;
}
/* line 16, ../sass/elements/_footer.scss */
.footer .h {
  width: 100%;
  height: 2px;
  margin: 105px 0 35px;
  background: #fff;
  opacity: .2;
}
/* line 24, ../sass/elements/_footer.scss */
.footer b.h {
  display: block;
}
/* line 28, ../sass/elements/_footer.scss */
.footer .apply {
  float: right;
  margin: -3px 0 0;
  font: normal 400 16px/20px "Playfair",serif;
  color: #fff;
  text-decoration: none;
}
@media (max-width: 680px) {
  /* line 28, ../sass/elements/_footer.scss */
  .footer .apply {
    float: none;
    display: block;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
}
/* line 42, ../sass/elements/_footer.scss */
.footer .apply:hover {
  color: #B0976D;
}
/* line 44, ../sass/elements/_footer.scss */
.footer .apply:hover i {
  background: transparent url("/img/arrow-right-gold.svg") no-repeat left top;
}
/* line 50, ../sass/elements/_footer.scss */
.footer .apply i {
  display: inline-block;
  width: 7px;
  height: 11px;
  margin: 0 0 0 5px;
  background: transparent url("/img/arrow-right-white.svg") no-repeat left top;
  background-size: 7px 11px;
}
/* line 60, ../sass/elements/_footer.scss */
.footer svg {
  display: block;
  width: 60px;
  height: 73px;
  margin: 0 auto 15px;
}
/* line 66, ../sass/elements/_footer.scss */
.footer .menu {
  float: left;
  margin: 0 0 0 -8px;
  font: normal 700 9px/20px "Futura",sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}
@media (max-width: 680px) {
  /* line 66, ../sass/elements/_footer.scss */
  .footer .menu {
    float: none;
    margin: 0 0 40px;
  }
}
/* line 76, ../sass/elements/_footer.scss */
.footer .menu a {
  display: inline-block;
  margin: 0 8px;
  color: #fff;
  text-decoration: none;
  opacity: .2;
  -webkit-transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
/* line 85, ../sass/elements/_footer.scss */
.footer .menu a:hover {
  opacity: 1;
}
@media (max-width: 680px) {
  /* line 76, ../sass/elements/_footer.scss */
  .footer .menu a {
    display: block;
    margin: 0 0 15px;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
  }
}

/* line 99, ../sass/elements/_footer.scss */
.path {
  fill: #B0976D;
  -webkit-transform-origin: 0px 0px 0px;
}

@-moz-keyframes logo-sprite {
  100% {
    background-position: -1210px;
  }
}
@-webkit-keyframes logo-sprite {
  100% {
    background-position: -1210px;
  }
}
@keyframes logo-sprite {
  100% {
    background-position: -1210px;
  }
}
@-moz-keyframes logo-sprite-revert {
  0% {
    background-position: -1210px;
  }
  100% {
    background-position: 0px;
  }
}
@-webkit-keyframes logo-sprite-revert {
  0% {
    background-position: -1210px;
  }
  100% {
    background-position: 0px;
  }
}
@keyframes logo-sprite-revert {
  0% {
    background-position: -1210px;
  }
  100% {
    background-position: 0px;
  }
}
/* line 11, ../sass/elements/_header.scss */
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 4;
  margin: 50px 0 0;
}
@media (max-width: 680px) {
  /* line 11, ../sass/elements/_header.scss */
  .header {
    margin: 30px 0 0;
  }
}
/* line 24, ../sass/elements/_header.scss */
.header .center:before {
  content: "";
  display: table;
}
/* line 28, ../sass/elements/_header.scss */
.header .center:after {
  content: "";
  display: table;
  clear: both;
}
/* line 36, ../sass/elements/_header.scss */
.header .logo {
  float: left;
  display: inline-block;
  width: 55px;
  height: 55px;
  background: transparent url("../img/logo-sprite-white.png") no-repeat 0 0;
  background-size: 605px 55px;
}
/* line 48, ../sass/elements/_header.scss */
.header .menu {
  float: right;
  position: relative;
  margin: 2px -10px 0 0;
  display: block;
}
/* line 53, ../sass/elements/_header.scss */
.header .menu .center {
  width: auto;
}
@media (max-width: 680px) {
  /* line 53, ../sass/elements/_header.scss */
  .header .menu .center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: auto;
    text-align: center;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}
/* line 67, ../sass/elements/_header.scss */
.header .menu a {
  font: normal 700 10px/30px "Futura",sans-serif;
}
/* line 69, ../sass/elements/_header.scss */
.header .menu a:hover {
  -moz-transition-property: border-color;
  -o-transition-property: border-color;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -moz-transition: 0.2s, cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: 0.2s, cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition: 0.2s, cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.2s, cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border-color: #fff;
}
@media (max-width: 680px) {
  /* line 67, ../sass/elements/_header.scss */
  .header .menu a {
    display: block;
    margin: 0;
    padding: 20px 0;
    border: none;
    font-size: 20px;
    line-height: 30px;
  }
}
/* line 85, ../sass/elements/_header.scss */
.header .menu a.selectedItem {
  border-color: #fff;
}
@media (max-width: 680px) {
  /* line 92, ../sass/elements/_header.scss */
  .header .menu {
    float: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background: rgba(0, 0, 0, 0.9);
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 104, ../sass/elements/_header.scss */
  .header .menu a.selectedItem {
    color: #B0976D;
  }
  /* line 109, ../sass/elements/_header.scss */
  .header .menu .line {
    opacity: 0;
    -moz-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }
}
/* line 118, ../sass/elements/_header.scss */
.header .open-menu {
  -moz-transition-property: visibility;
  -o-transition-property: visibility;
  -webkit-transition-property: visibility;
  transition-property: visibility;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  visibility: visible;
  opacity: 1;
}
/* line 125, ../sass/elements/_header.scss */
.header .open-menu .line {
  opacity: 1;
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* line 129, ../sass/elements/_header.scss */
.header .open-menu .line--1 {
  -moz-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
/* line 132, ../sass/elements/_header.scss */
.header .open-menu .line--2 {
  -moz-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.1s;
  -o-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.1s;
  -webkit-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transition-delay: 0.1s;
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.1s;
}
/* line 136, ../sass/elements/_header.scss */
.header .open-menu .line--3 {
  -moz-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s;
  -o-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s;
  -webkit-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transition-delay: 0.2s;
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s;
}
/* line 140, ../sass/elements/_header.scss */
.header .open-menu .line--4 {
  -moz-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s;
  -o-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s;
  -webkit-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transition-delay: 0.3s;
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s;
}
/* line 146, ../sass/elements/_header.scss */
.header .menu__toggle {
  cursor: pointer;
  position: fixed;
  right: 30px;
  top: 42px;
  width: 30px;
  height: 30px;
  display: none;
  z-index: 11;
}
@media (max-width: 680px) {
  /* line 146, ../sass/elements/_header.scss */
  .header .menu__toggle {
    display: block;
  }
}
/* line 159, ../sass/elements/_header.scss */
.header .menu__toggle .top {
  -moz-transform: translate(0, -10px);
  -ms-transform: translate(0, -10px);
  -webkit-transform: translate(0, -10px);
  transform: translate(0, -10px);
}
/* line 162, ../sass/elements/_header.scss */
.header .menu__toggle .bottom {
  -moz-transform: translate(0, 10px);
  -ms-transform: translate(0, 10px);
  -webkit-transform: translate(0, 10px);
  transform: translate(0, 10px);
}
/* line 165, ../sass/elements/_header.scss */
.header .menu__toggle .top, .header .menu__toggle .middle, .header .menu__toggle .bottom {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 4px;
  margin: -2px 0 0;
  background: #fff;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -moz-transition: all, 0.2s, cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all, 0.2s, cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transition: all, 0.2s, cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all, 0.2s, cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
/* line 178, ../sass/elements/_header.scss */
.header .menu__toggle .top-open {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 181, ../sass/elements/_header.scss */
.header .menu__toggle .middle-open {
  opacity: 0;
}
/* line 184, ../sass/elements/_header.scss */
.header .menu__toggle .bottom-open {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 192, ../sass/elements/_header.scss */
.menu a {
  display: inline-block;
  margin: 0 10px;
  border-bottom: 2px solid transparent;
  font: normal 700 10px/30px "Futura",sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.6px;
}

/* line 209, ../sass/elements/_header.scss */
.logo-hover {
  -moz-animation: logo-sprite 0.8s steps(11) both;
  -webkit-animation: logo-sprite 0.8s steps(11) both;
  animation: logo-sprite 0.8s steps(11) both;
}

/* line 213, ../sass/elements/_header.scss */
.logo-hover-remove-active {
  -moz-animation: logo-sprite-revert 0.8s steps(11) both;
  -webkit-animation: logo-sprite-revert 0.8s steps(11) both;
  animation: logo-sprite-revert 0.8s steps(11) both;
}

/* line 219, ../sass/elements/_header.scss */
.center {
  margin: 0 auto;
  width: 970px;
}
@media (max-width: 970px) {
  /* line 219, ../sass/elements/_header.scss */
  .center {
    width: 680px;
  }
}
@media (max-width: 680px) {
  /* line 219, ../sass/elements/_header.scss */
  .center {
    width: 100%;
    padding: 0 30px;
  }
}

/* line 1, ../sass/elements/_morpher.scss */
.morpher__slide {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

/* line 11, ../sass/elements/_morpher.scss */
.morpher {
  position: relative;
  background: #000;
  height: 1250px;
  overflow: hidden;
  height: 100vh;
  background: red;
  -moz-transition: background 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: background 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transition: background 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: background 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

/* line 3, ../sass/main.scss */
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/* line 8, ../sass/main.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 12, ../sass/main.scss */
body {
  background-color: #1C1C1C;
}
