.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 100px 0 35px;
  background: #1C1C1C;
  z-index: 2;

  .slogan{
    font: normal 600 43px/45px "Futura",sans-serif;
    color: #B0976D;
    text-align: center;
  }

  .h{
    width: 100%;
    height: 2px;
    margin: 105px 0 35px;
    background: #fff;
    opacity: .2;
  }

  b.h{
    display: block;
  }

  .apply{
    float: right;
    margin: -3px 0 0;
    font: normal 400 16px/20px "Playfair",serif;
    color: #fff;
    text-decoration: none;
    @include breakpoint(max-width $mobile-width){
      float: none;
      display: block;
      margin: 0;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
    }
    &:hover{
      color:$sel-menu;
      i{
        background: transparent url("/img/arrow-right-gold.svg") no-repeat left top;
      }
    }
  }

  .apply i {
      display: inline-block;
      width: 7px;
      height: 11px;
      margin: 0 0 0 5px;
      background: transparent url("/img/arrow-right-white.svg") no-repeat left top;
      background-size: 7px 11px;

  }

  svg{
    display: block;
    width: 60px;
    height: 73px;
    margin: 0 auto 15px;
  }
  .menu{
    float: left;
    margin: 0 0 0 -8px;
    font: normal 700 9px/20px "Futura",sans-serif;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    @include breakpoint(max-width $mobile-width){
      float: none;
      margin: 0 0 40px;
    }
    a{
      display: inline-block;
      margin: 0 8px;
      color: #fff;
      text-decoration: none;
      opacity: .2;
      -webkit-transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -moz-transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      &:hover{
        opacity:1;
      }
      @include breakpoint(max-width $mobile-width){
        display: block;
        margin: 0 0 15px;
        font-size: 12px;
        line-height: 13px;
        text-align: center;
      }
    }
  }
}

.path{
  fill:#B0976D;
  -webkit-transform-origin: 0px 0px 0px;
}
